<%= form_for([@article, @writing]) do |f|%> 
  <p>
    <%= f.label :abs_lvl %>
    <%= f.number_field :abs_lvl %>
  </p>
  <p>
    <%= f.label :rel_lvl %>
    <%= f.number_field :rel_lvl %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
