<div class="tab-pane fade" id="writing<%= writing.id %>">
  <div class="container">
    <div class="col-md-6">
      <%= render :partial =>
      "texts/articles/#{writing.article.normalize}/#{writing.rel_lvl}/body.html" %> 
    </div>
    <div class="col-md-6">
      <%= render :partial =>
      "texts/articles/#{writing.article.normalize}/#{writing.rel_lvl}/translation.html" %> 
    </div>
  </div>
  <div id='remarks' class="container">
    <% for remark in writing.remarks do%>
    <% end %>
  </div> 

  <% if @admin %>
  <%= link_to 'Add remark',
    new_article_writing_remark_path(writing.article, writing)%>
  <%= link_to 'Edit', [:edit, writing.article, writing]%>
  <%= link_to 'Destroy', [writing.article, writing],
                         method: :delete,
                         data: { confirm: 'Are you sure?' }%>
  <% end %>
</div> 
                    
