<p>
  <h3><%= writing.abs_lvl %></h3>
  <h3><%= writing.rel_lvl %></h3>
</p>
<p>
  <strong>Body: </strong><br/>
  <%= writing.body %>
</p>
<p>
  <strong>Translation: </strong><br/>
  <%= writing.translation %>
</p>

<% if @admin %>
  <%= link_to 'Edit', [:edit, writing.article, writing]%>
  <%= link_to 'Destroy', [writing.article, writing],
                        method: :delete,
                        data: { confirm: 'Are you sure?' }%>
<% end %>
                    
