<%= link_to controller: 'articles',
            action: 'show',
            id: article.id do %>
<tr>
  <td><%= article.title %></td>
  <td><%= article.layout %></td>
  <td><%= article.created_at %></td>
  <td><%= article.image_name %></td>
  <td><%= article.filename %></td>
  <td><%= article.online %></td>
  <td>
    <% if article.online %>
      <%= link_to  controller: 'articles',
                    action: :offline,
                    id: article.id do %> 
        <span class="glyphicon glyphicon-import"></span>
      <% end %>
    <% else %>
      <%= link_to  controller: 'articles',
                    action: :online,
                    id: article.id do %> 
        <span class="glyphicon glyphicon-export"></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to edit_article_path(article) do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </td>
  <td>
    <%= link_to article_path(article),
          method: :delete,
          data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </td>
</tr>
<% end %>
