<div id='article-commands' class="container">
  <%= link_to 'Back to texts list', articles_path%>
  <% if @admin %>
    <%= link_to 'Add writing', new_article_writing_path(@article)%>
  <% end %>
</div>
<div id='article-container' class="container">
  <div class='article-header' class="container">
    <h1><%= @article.title %></h1>
  </div>
  <div id='writings-container' class="container">
    <ul class="nav nav-tabs" role="tablist">
    <% for writing in @article.writings do %>
      <li>
        <a href="#writing<%= writing.id %>" data-toggle="tab">
          <%= writing.diff() %>
        </a>
      </li> 
    <% end %>
    </ul>
    <div class="tab-content">
    <% for writing in @article.writings do %>
      <%= render writing %> 
    <% end %>
    </div> 
  </div> 
</div>
