<div class="panel panel-default link-pan">
  <div class="panel-heading">
  <a href='http://<%=link.address%>'><%=link.title%></a>
  </div>
  <div class="panel-body">
    <%= link.description %>
  </div>
  <% if @admin %>
  <%= link_to edit_link_path(link) do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
  <%= link_to 'Destroy', [link],
              method: :delete,
              data: { confirm: 'Are you sure?' }%>
  <% end %>
</div>


