<!DOCTYPE html>
<html lang='jp'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="French lessons">
  <meta name="author" content="Dan Ringwald">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <%= favicon_link_tag 'lunettes.png', type: 'image/png' %>
  <title>ダンのプチブログ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-wrapper" class="container">
    <div id="banner" class="container-fluid">
      <%= link_to(admin_path, id: 'banner-link') do %>
        <%= image_tag("lunettes.png", id: 'banner-icon') %> 
        <div id="menu-title">ダンのプチブログ</div>
      <% end %>
    </div>
    <div class="container" id="main">
		      <%= yield %>
    </div>
    <div id="nav-shadow" class="row">
    </div>
    <nav class="row" id="footer-menu">
      <%= content_tag "ul", id: "website-menu", data: {page: @menu_item} do %>
        <%= link_to controller: 'main' do %> 
          <li class="active" id="home-menu">
            <span class="menu_item">ホーム</span>
          </li>
        <% end %>
        <%= link_to controller: 'lessons' do %>
          <li id="lessons-menu">
            <span class="menu_item">レッスン</span>
          </li>
        <% end %>
        <%= link_to controller: 'resources' do %>
          <li id="resources-menu">
            <span class="menu_item">便利な資料</span>
          </li>
        <% end %>
        <%= link_to links_index_path do %>
          <li id="links-menu">
            <span class="menu_item">リンクス</span>
          </li>
        <% end %>
        <%= link_to controller: 'main', action: 'contact' do %>
          <li id="kyoushi-menu">
            <span class="menu_item">ライブレッスン</span>
          </li>
        <% end %>
      <% end %>
    </nav>
  </div>
</body>
</html>
