<!DOCTYPE html>
<html lang='jp'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="French lessons">
  <meta name="author" content="Dan Ringwald">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <%= favicon_link_tag 'lunettes.png', type: 'image/png' %>
  <title>ダンのプチブログ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-wrapper">
    <div id="banner" class="container-fluid">
      <%= link_to(admin_path, id: 'banner-link') do %>
        <%= image_tag("lunettes.png", id: 'banner-icon') %> 
        <div id="menu-title">ダンのプチブログ</div>
      <% end %>
    </div>
    <div class="row" id="main">
		      <%= yield %>
    </div>
    <div id="nav-shadow" class="row">
    </div>
    <nav class="row" id="footer-menu">
      <%= content_tag "ul", id: "website-menu", data: {page: @menu_item} do %>
        <li class="active" id="home-menu">
          <%= link_to 'ホーム', controller: 'main' %>
        </li>
        <li id="lessons-menu">
          <%= link_to 'レッスン', controller: 'lessons' %>
        </li>
        <li id="resources-menu">
          <%= link_to '便利な資料', controller: 'resources' %></li>
        </li>
        <li id="links-menu">
          <%= link_to 'リンクス', links_index_path%>
        </li>
        <li id="kyoushi-menu">
          <%= link_to 'ライブレッスン', controller: 'main', action: 'contact'%>
        </li>
      <% end %>
    </nav>
  </div>
</body>
</html>
